@page
@using ROMBot_AI.Pages;
@model IndexModel
@{
    ViewData["Title"] = "ROM-Bot AI";
}

<div class="text-center">
    <h1 class="display-4">ROM-Bot AI</h1>
    <h2>The ROM Global AI specialist</h2>
</div>
